<section id="about">
  <div class="Title">
    <div class="content">
      <h1>Sobre nosotros</h1>
      <p>Transformando el mundo con sostenibilidad y tecnología</p>
    </div>
    <div class="servicios">
      <h1>Nuestros Servicios</h1>
      <ul class="lista">
        <li><a href="">Desarrollo de proyectos de sostenibilidad</a></li>
        <li><a href="">Plataforma de aprendizaje Alegra Studio</a></li>
        <li>
          <a href=""
            >Consultoría + desarrollo en tecnología emergente (blockchain y
            ciencia de datos) y sostenibilidad</a
          >
        </li>
        <li><a href="">Consultoria a empresas, startups y emprendedores</a></li>
        <li>
          <a href=""
            >Alianza Estratégica para Emprendedores en Busca de Financiamiento</a
          >
        </li>
        <li><a href="">Programa de embajadores de marca</a></li>
        <li><a href="">Cursos Online y Talleres</a></li>
      </ul>
    </div>
  </div>
</section>

<style>
  section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #442120;
    font-size: 70px;
  }

  .Title {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .servicios {
    flex: 1;
    padding-left: 100px;
  }

  .content {
    flex: 1;
  }

  .Title h1 {
    font-size: 4vw;
    margin-bottom: 2vh;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
  }

  .Title p {
    font-size: 25px;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    text-align: left;
    padding-top: 6vh;
  }

  li {
    list-style: none;
    font-family: "Reddit Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 25px;
    text-decoration: none;
    padding-top: 15px;
  }

  .lista {
    padding-right: 20px;
  }

  a {
    color: #442120;
    text-decoration: none;
  }

  .servicios h1 {
    padding-left: 30px;
  }

  @media screen and (max-width: 768px) {
    .Title {
      width: 90%;
    }

    .servicios {
      padding: 0;
    }
  }
</style>
