<section id="Contact">Contact Section</section>

<style>
  section {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: #442120;
    font-size: 70px;
  }
</style>
